@import "tailwindcss";

@import './fonts.css';
@import './markdown.css';
@import './buttons.css';

body {
    @apply font-serif;
}

[type='text'],
[type='email'],
[type='url'],
[type='password'],
[type='number'],
[type='date'],
[type='datetime-local'],
[type='month'],
[type='search'],
[type='tel'],
[type='time'],
[type='week'],
[multiple],
textarea,
select {
    @apply shadow-sm focus:ring-blue-500 focus:border-blue-500 block w-full p-1 border-blue-300 rounded-md bg-blue-50 text-blue-700 placeholder-blue-400 font-mono;
}

@plugin "@tailwindcss/typography";

@theme {
    --font-display: "Oxanium", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-serif: "Inter", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
